<section class="px-5 py-16 xl:px-0">
  <div class="container mx-auto px-4">
    <h2
      class="text-ibwt-primary hero-title mb-4 text-center text-3xl font-bold md:text-4xl"
    >
      Nuestros cursos especiales
    </h2>
    <p
      class="hero-paragraph mx-auto mb-12 max-w-3xl text-center text-lg text-gray-600"
    >
      Para principiantes y expertos, ofrecemos una variedad de cursos de buceo
      diseñados para todos los niveles. Desde la certificación básica hasta
      técnicas avanzadas, tenemos algo para todos.
    </p>
  </div>
</section>
