---
import { Icon } from "astro-icon/components"

import { socialMediaIcon } from "@constant/social-media"

interface Props {
  isContactPage?: boolean
}

const { isContactPage = false } = Astro.props
---

<div class:list={[isContactPage ? "" : "mt-8"]}>
  {
    !isContactPage && (
      <h4 class="text-ibwt-primary mb-6 text-xl font-bold">
        Información de contacto
      </h4>
    )
  }

  <div class="flex space-x-4">
    {
      socialMediaIcon.map(({ href, name }) => (
        <a
          href={href}
          target="_blank"
          rel="noopener noreferrer"
          class:list={[
            "flex h-10 w-10 items-center justify-center rounded-full transition-colors",
            !isContactPage
              ? "text-ibwt-primary bg-blue-100 hover:bg-blue-200"
              : "text-ibwt-secondary bg-orange-100 hover:bg-orange-200"
          ]}
        >
          <Icon
            name={name}
            size={20}
          />
        </a>
      ))
    }
  </div>
</div>
