---
import { Image } from "astro:assets"
import Navbar from "@components/shared/navbar.astro"
import Logo from "@images/logo.webp"
import Link from "@components/utilities/link.astro"
---

<header class="sticky top-0 z-50 w-full border-b bg-white/80 backdrop-blur-sm">
  <section class="container flex h-16 items-center justify-between mx-auto">
    <div class="flex items-center gap-2">
      <Image
        src={Logo}
        alt="Logo de iBluewave Technology"
        class="h-12 w-12 rounded-full object-cover"
        width={48}
        height={48}
      />

      <span class="text-xl font-extrabold text-ibwt-primary">iBluewave</span>
      <span class="text-xl font-light text-ibwt-secondary">Technology</span>
    </div>

    <Navbar />

    <Link
      href="/cursos-especiales"
      className="hidden md:inline-flex bg-ibwt-secondary  text-white px-4 py-2 rounded-md"
      >Cursos especiales</Link
    >
  </section>
</header>
