---
import { Image } from "astro:assets"
import { Icon } from "astro-icon/components"

import Navbar from "@components/shared/Navbar.astro"
import Link from "@components/utilities/Link.astro"

import Logo from "@images/logo.webp"
---

<header
  class="sticky top-0 z-50 w-full translate-y-0 bg-white/80 p-5 py-5 backdrop-blur-sm transition-transform duration-300 ease-in-out xl:p-0 xl:py-3"
>
  <section class="container mx-auto flex h-16 items-center justify-between">
    <div>
      <a
        href="/"
        class="flex items-center gap-2 transition-transform duration-500 hover:scale-105"
      >
        <Image
          src={Logo}
          alt="Logo de iBluewave Technology"
          class="object-cover"
          width="50"
          height="50"
        />

        <span class="text-ibwt-primary hidden text-xl font-extrabold xl:block"
          >iBluewave</span
        >
        <span class="text-ibwt-secondary hidden text-xl font-light xl:block"
          >Technology</span
        >
      </a>
    </div>

    <Navbar />

    <div class="hidden lg:block">
      <Link
        href="/cursos-especiales"
        className="bg-ibwt-secondary hidden rounded-md px-4 py-2 text-white xl:inline-flex"
        >Cursos especiales</Link
      >
    </div>

    <button
      id="toggle-menu"
      aria-label="Toggle Menu"
      class="z-50 block focus:outline-none lg:hidden"
    >
      <Icon
        name="basic-icons/bars"
        size={40}
        class="text-gray-700"
      />
    </button>
  </section>
</header>

<script>
  import { $ } from "@lib/dom"

  document.addEventListener("astro:page-load", () => {
    const $topMenu = $("header") as HTMLElement
    const $toggleMenu = $("#toggle-menu") as HTMLButtonElement
    const $closeMenu = $("#close-menu") as HTMLButtonElement
    const $phoneMenu = $("#phone-menu") as HTMLElement

    // Toggle Phone Menu
    $toggleMenu.addEventListener("click", togglePhoneMenu)

    // Close Phone Menu
    $closeMenu.addEventListener("click", togglePhoneMenu)
    document.addEventListener("click", (e) => {
      if (
        !$phoneMenu.contains(e.target as Node) &&
        !$toggleMenu.contains(e.target as Node)
      ) {
        if ($phoneMenu.classList.contains("translate-y-0")) {
          closePhoneMenu()
        }
      }
    })

    function togglePhoneMenu() {
      $phoneMenu.classList.toggle("translate-y-0")
      $phoneMenu.classList.toggle("-translate-y-full")
    }

    function closePhoneMenu() {
      $phoneMenu.classList.remove("translate-y-0")
      $phoneMenu.classList.add("-translate-y-full")
    }

    // Hide Top Menu on Scroll Down
    window.addEventListener("scroll", onScrollDown, { passive: true })

    let lastScrollTop = 0

    function onScrollDown() {
      const { scrollY } = window

      if (scrollY > lastScrollTop) {
        $topMenu.classList.remove("translate-y-0")
        $topMenu.classList.add("-translate-y-full")
      } else if (scrollY < lastScrollTop) {
        $topMenu.classList.remove("-translate-y-full")
        $topMenu.classList.add("translate-y-0")
      }
      lastScrollTop = scrollY <= 0 ? 0 : scrollY
    }
  })
</script>
