---
import { navigation } from "@constant/navigation"

const { pathname } = Astro.url
---

<nav class="hidden md:flex gap-6">
  {
    navigation.map(({ text, href }) => (
      <div>
        <a
          href={href}
          class="text-sm font-medium hover:text-blue-600 transition-colors"
        >
          {text}
        </a>

        {pathname === href && (
          <div
            transition:name="navigation"
            class="h-1 bg-blue-600 rounded-full mt-2 w-full"
          />
        )}
      </div>
    ))
  }
</nav>
