---
import { navigation } from "@constant/navigation"

const { pathname } = Astro.url
---

<nav class="hidden gap-6 md:flex">
  {
    navigation.map(({ text, href }) => (
      <div>
        <a
          href={href}
          class="text-sm font-medium transition-colors hover:text-blue-600"
        >
          {text}
        </a>

        {pathname === href || (href !== "/" && pathname.startsWith(href)) ? (
          <div
            transition:name="navbar-navigation"
            class="border-ibwt-primary border-b-2"
          />
        ) : (
          <div class="mx-4 border-b-2 border-transparent" />
        )}
      </div>
    ))
  }
</nav>
