---
import { navigation } from "@constant/navigation"

const { pathname } = Astro.url
---

<nav class="hidden gap-6 md:flex">
  {
    navigation.map(({ text, href }) => (
      <div>
        <a
          href={href}
          class="text-sm font-medium transition-colors hover:text-blue-600"
        >
          {text}
        </a>

        {pathname === href && (
          <div
            transition:name="navigation"
            class="mt-2 h-1 w-full rounded-full bg-blue-600"
          />
        )}
      </div>
    ))
  }
</nav>
