---
import { Image } from "astro:assets"
import Logo from "@images/logo.webp"

import Link from "@components/utilities/Link.astro"
import LinkSecondary from "@components/utilities/LinkSecondary.astro"

import Bubble from "@components/home-page/BubblesEffect.astro"
import Noise from "@components/home-page/NoiseEffect.astro"
---

<section
  class="relative overflow-hidden bg-gradient-to-t from-blue-950 to-blue-700 px-5 py-16 text-white xl:px-0"
>
  <article
    class="container mx-auto flex flex-col-reverse items-center justify-around gap-y-5 lg:flex-row lg:gap-y-0"
  >
    <div class="z-30 container">
      <h1
        class="text-ibwt-secondary hero-title mb-6 text-4xl font-bold md:text-5xl lg:text-6xl"
      >
        Sumérgete en nuestra esencia azul
      </h1>
      <p class="hero-paragraph mb-8 text-xl text-blue-50">
        En iBlueWaveTechnology vivimos por y para el océano. Somos una empresa
        comprometida con la exploración submarina y la preservación marina,
        inspirada por la pasión y liderazgo de quienes creen que un mejor futuro
        comienza bajo las olas.
      </p>

      <div class="flex flex-wrap gap-4">
        <Link
          href="#nuestra-historia"
          className="bg-ibwt-secondary hero-btn-primary w-full px-6 py-3 text-center font-medium text-white lg:w-auto lg:text-start"
        >
          Nuestra Historia
        </Link>

        <LinkSecondary
          href="#nuestro-equipo"
          className="hero-btn-secondary w-full px-6 py-3 text-center font-medium lg:w-auto lg:text-start"
          >Conoce a Nuestro Equipo</LinkSecondary
        >
      </div>
    </div>

    <div class="z-30">
      <Image
        src={Logo}
        alt="Logo de iBluewave Technology"
        class="h-full w-60 object-cover object-bottom lg:w-full"
        width={500}
        height={500}
      />
    </div>
  </article>
  <Noise />
  <Bubble />
</section>
