---
import { Image } from "astro:assets"
import NauiLogo from "@images/naui-logo.webp"
---

<section class="py-16">
  <div class="container mx-auto px-5 xl:px-0">
    <div class="scroll-zone mx-auto mb-16 max-w-3xl text-center">
      <h2 class="text-ibwt-primary scroll-float-in mb-6 text-3xl font-bold">
        Aliados que respaldan nuestra misión
      </h2>
      <p class="scroll-fade-in-up text-gray-700">
        Nuestra labor es posible gracias a la colaboración con instituciones y
        entidades certificadoras como NAUI, que respaldan nuestro compromiso con
        el desarrollo responsable y ético del mundo submarino.
      </p>
    </div>

    <div class="flex items-center justify-center">
      <div
        class="scroll-zone flex h-40 items-center justify-center rounded-lg border bg-white p-6 shadow-md"
      >
        <Image
          src={NauiLogo}
          alt="Socio 1"
          loading="lazy"
          width={200}
          height={100}
          class="image-zoom-out h-auto max-h-full max-w-full object-contain"
        />
      </div>
    </div>
  </div>
</section>
