---
import Layout from "@layouts/Layout.astro"
---

<Layout
  title="iBluewave - Cursos Especiales"
  description="Cursos Especiales de iBluewave, descubre nuestros cursos y capacitaciones"
>
  <h1>Cursos Especiales</h1>
</Layout>
