---
import { siteInfo } from "@constant/site-info"
---

<section
  id="mapa"
  class="bg-blue-50 py-16"
>
  <article class="container mx-auto px-5 xl:px-0">
    <div class="scroll-zone mx-auto mb-12 max-w-3xl text-center">
      <h2 class="text-ibwt-primary scroll-float-in mb-4 text-3xl font-bold">
        Nuestra Ubicación
      </h2>
      <p class="scroll-fade-in-up text-gray-700">
        Visítanos en nuestras instalaciones principales en {siteInfo.city}
      </p>
    </div>

    <div
      class="scroll-zone slide-in-left overflow-hidden rounded-xl bg-white shadow-lg"
    >
      <div class="h-96 w-full">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.4087496484285!2d-74.83992132394316!3d11.007927489155213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d2ae20f06f5%3A0x5cbb25b1ee456bee!2sTv.%2044%20%23102-167%2C%20Nte.%20Centro%20Historico%2C%20Barranquilla%2C%20Atl%C3%A1ntico!5e0!3m2!1sen!2sco!4v1744582119040!5m2!1sen!2sco"
          width="100%"
          height="100%"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </article>
</section>
