---
import { MarqueeDemoVertical } from "@components/island/image-marquee"
---

<section
  class="py-16 relative bg-gradient-to-r from-blue-900/90 to-blue-600/90 z-10"
>
  <article class="container mx-auto scroll-zone overflow-hidden">
    <section class="flex justify-center items-center text-center mb-12">
      <div
        class="relative flex flex-col h-[500px] w-full items-center justify-center"
      >
        <h2
          class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl xl:text-7xl text-ibwt-secondary scroll-3d-rotate"
        >
          Sumergete con nosotros y vive la experiencia
        </h2>
        <p class="mt-4 max-w-[700px] text-white/90 scroll-fade-in-up">
          Descubre la magia del mar Caribe colombiano con iBluewave Technology.
          Te invitamos a sumergirte en sus aguas cristalinas, explorar su
          fascinante vida marina y vivir una experiencia única de buceo.
          ¡Acompáñanos y haz de esta aventura un recuerdo inolvidable!
        </p>
      </div>

      <MarqueeDemoVertical client:idle />
    </section>
  </article>
</section>

<!-- <section class="relative">
  <div
    class="absolute inset-0 bg-gradient-to-r from-blue-900/90 to-blue-600/90 z-10"
  >
  </div>

  <article
    class="container mx-auto relative z-20 flex items-center justify-center text-center h-[600px] text-white"
  >
  </article>
</section> -->
