---
import { Image } from "astro:assets"

import AboutImage from "@images/photo.webp"

const numbersData = [
  { number: "10+", label: "Años de experiencia" },
  { number: "5000+", label: "Buceadores certificados" },
  { number: "20+", label: "Lugares de buceo" },
  { number: "15+", label: "Instructores profesionales" }
]
---

<section
  id="sobre-nosotros"
  class="to-ibwt-primary bg-gradient-to-r from-blue-700 py-16 text-white"
>
  <article class="scroll-zone container mx-auto">
    <section class="grid grid-cols-1 items-center gap-12 lg:grid-cols-2">
      <div>
        <h2
          class="text-ibwt-secondary slide-in-left text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl"
        >
          Conoce iBluewave Technology
        </h2>
        <p class="scroll-fade-in-up mt-4 text-white/90">
          Fundado en 2015, iBluewave Technology es un centro de buceo
          especializado en la formación de buceadores y la venta de equipos de
          buceo de alta calidad. Nos dedicamos a ofrecer una experiencia de
          buceo excepcional, combinando la pasión por el océano con la
          tecnología más avanzada.
        </p>

        <p class="scroll-fade-in-up mt-4 text-white/90">
          Nuestro equipo de instructores altamente capacitados y apasionados por
          el buceo está aquí para guiarte en cada paso del camino. Ya sea que
          seas un principiante o un buceador experimentado, tenemos algo para
          ti.
        </p>

        <div class="scroll-zone mt-8 grid grid-cols-2 gap-4">
          {
            numbersData.map(({ label, number }) => (
              <div class="scale-up flex flex-col items-center rounded-lg bg-white/10 p-4">
                <span class="text-ibwt-secondary text-3xl font-bold">
                  {number}
                </span>
                <span class="mt-1 text-sm">{label}</span>
              </div>
            ))
          }
        </div>
      </div>

      <div class="relative">
        <div
          class="absolute -top-4 -left-4 h-24 w-24 rounded-lg bg-orange-500 opacity-50"
        >
        </div>
        <div
          class="absolute -right-4 -bottom-4 h-24 w-24 rounded-lg bg-orange-500 opacity-50"
        >
        </div>

        <div class="scroll-zone relative z-10 overflow-hidden rounded-lg">
          <Image
            src={AboutImage}
            alt="Imagen de boyas de buceo"
            width={800}
            height={600}
            loading="lazy"
            class="image-zoom-out h-auto w-full object-cover"
          />
        </div>
      </div>
    </section>
  </article>
</section>
