---
import { Icon } from "astro-icon/components"

import LinkSecondary from "@components/utilities/LinkSecondary.astro"
---

<section
  class="bg-blue-50 py-16"
  id="blog"
>
  <article class="scroll-zone container mx-auto p-5 xl:p-0">
    <section class="mb-12 flex flex-col items-center text-center">
      <h2
        class="text-ibwt-primary scroll-float-in text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl"
      >
        Lo último en nuestro blog
      </h2>
      <p class="scroll-fade-in-up mt-4 max-w-[700px] text-gray-700">
        Descubre las últimas tendencias, consejos y sobre el mundo del buceo.
        Desde destinos de buceo hasta técnicas avanzadas, nuestro blog es tu
        fuente de información para todo lo relacionado con el buceo.
      </p>
    </section>

    <section
      class="scroll-fade-in-up grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3"
    >
      <div class="overflow-hidden rounded-lg border bg-white shadow-lg">
        <img
          src="https://placehold.co/300x200"
          alt="Top 10 Diving Spots in the Caribbean"
          class="image-zoom-out h-48 w-full object-cover"
        />
        <div class="p-6">
          <p class="text-ibwt-secondary text-sm font-medium">May 15, 2023</p>
          <h3 class="text-ibwt-primary mt-2 text-xl font-bold">
            Top 10 Diving Spots in the Caribbean
          </h3>
          <p class="mt-2 text-gray-600">
            Explore the most beautiful diving locations in the Caribbean Sea
            with crystal clear waters.
          </p>
          <a
            href="#"
            class="text-ibwt-primary mt-4 inline-flex items-center hover:text-blue-500"
          >
            Leer más <Icon name="basic-icons/right-arrow" />
          </a>
        </div>
      </div>
    </section>

    <section class="scroll-zone mt-12 text-center">
      <LinkSecondary
        href="/blog"
        className="border-ibwt-primary text-ibwt-primary slide-in-right inline-flex items-center px-4 py-2 hover:bg-blue-100"
      >
        Ver todos los articulos <Icon name="basic-icons/right-arrow" />
      </LinkSecondary>
    </section>
  </article>
</section>
