---
import ContactForm from "@components/home-page/ContactForm.astro"
import ContactInfoMap from "@components/home-page/ContactInfoMap.astro"
---

<section class="py-16">
  <article class="scroll-zone container mx-auto p-5 xl:p-0">
    <section class="mb-12 flex flex-col items-center text-center">
      <h2
        class="text-ibwt-primary scroll-float-in text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl"
      >
        Contáctanos
      </h2>
      <p class="scroll-fade-in-up mt-4 max-w-[700px] text-gray-700">
        Si tienes alguna pregunta, comentario o simplemente deseas ponerte en
        contacto con nosotros, no dudes en enviarnos un mensaje. Estamos aquí
        para ayudarte y responder a todas tus inquietudes.
      </p>
    </section>

    <section class="grid grid-cols-1 gap-12 lg:grid-cols-2">
      <ContactForm />
      <ContactInfoMap />
    </section>
  </article>
</section>
