---
import { Icon } from "astro-icon/components"

import CourseCard from "@components/home-page/CourseCard.astro"
import LinkSecondary from "@components/utilities/LinkSecondary.astro"
---

<section class="py-16">
  <article class="scroll-zone container mx-auto p-5 xl:p-0">
    <section class="mb-12 flex flex-col items-center text-center">
      <h2
        class="text-ibwt-primary scroll-float-in text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl"
      >
        Nuestros cursos especiales
      </h2>
      <p class="scroll-fade-in-up mt-4 max-w-[700px] text-gray-700">
        Para principiantes y expertos, ofrecemos una variedad de cursos de buceo
        diseñados para todos los niveles. Desde la certificación básica hasta
        técnicas avanzadas, tenemos algo para todos.
      </p>
    </section>

    <CourseCard />

    <section class="scroll-zone mt-12 text-center">
      <LinkSecondary
        href="/cursos-especiales"
        className="border-ibwt-primary text-ibwt-primary slide-in-left inline-flex items-center px-4 py-2 hover:bg-blue-50"
      >
        Ver todos los cursos <Icon name="basic-icons/right-arrow" />
      </LinkSecondary>
    </section>
  </article>
</section>
