---
import { Icon } from "astro-icon/components"

import Link from "@components/utilities/Link.astro"
import LinkSecondary from "@components/utilities/LinkSecondary.astro"
---

<section class="py-16">
  <article class="scroll-zone container mx-auto p-5 xl:p-0">
    <section class="mb-12 flex flex-col items-center text-center">
      <h2
        class="text-ibwt-primary scroll-float-in text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl"
      >
        Nuestros cursos especiales
      </h2>
      <p class="scroll-fade-in-up mt-4 max-w-[700px] text-gray-600">
        Para principiantes y expertos, ofrecemos una variedad de cursos de buceo
        diseñados para todos los niveles. Desde la certificación básica hasta
        técnicas avanzadas, tenemos algo para todos.
      </p>
    </section>

    <section class="grid grid-cols-1 gap-8 md:grid-cols-3">
      <div
        class="group scroll-fade-in-up relative overflow-hidden rounded-lg shadow-lg transition-all hover:shadow-xl"
      >
        <img
          src="https://placehold.co/400x300"
          alt="Beginner Diving"
          class="image-zoom-out h-48 w-full object-cover transition-transform group-hover:scale-105"
        />
        <div class="p-6">
          <h3 class="text-ibwt-primary text-xl font-bold">Beginner Diving</h3>
          <p class="mt-2 text-gray-600">
            Perfect for first-time divers. Learn the basics of diving in a safe
            environment.
          </p>
          <Link
            href="#"
            className="bg-ibwt-secondary mt-4 px-4 py-2 text-white"
            >Learn More</Link
          >
        </div>
      </div>
    </section>

    <section class="scroll-zone mt-12 text-center">
      <LinkSecondary
        href="/cursos-especiales"
        className="border-ibwt-primary text-ibwt-primary slide-in-left inline-flex items-center px-4 py-2 hover:bg-blue-50"
      >
        Ver todos los cursos <Icon name="basic-icons/right-arrow" />
      </LinkSecondary>
    </section>
  </article>
</section>
