---
import { Image } from "astro:assets"

import Link from "@components/utilities/Link.astro"
import LinkSecondary from "@components/utilities/LinkSecondary.astro"

import Bubble from "@components/home-page/BubblesEffect.astro"
import Noise from "@components/home-page/NoiseEffect.astro"

import HeroImage from "@images/hero-without-bg.webp"
---

<section class="relative bg-gradient-to-t from-blue-950 to-blue-700">
  <Noise />
  <Bubble />
  <article class="h-screen bg-gradient-to-r">
    <Image
      src={HeroImage}
      alt="Imagen de fondo de buceo"
      width={1600}
      height={800}
      class="absolute z-30 h-full w-full object-cover brightness-75"
    />
  </article>

  <article
    class="absolute top-1/2 left-1/2 z-40 container mx-auto flex h-[600px] -translate-x-1/2 -translate-y-1/2 flex-col justify-center p-5 text-center text-white xl:p-0"
  >
    <section
      class="mx-auto flex max-w-screen-2xl flex-col items-center justify-center"
    >
      <h1
        class="text-ibwt-secondary hero-title text-5xl font-bold tracking-tighter sm:text-5xl md:text-8xl"
      >
        Descubre el mundo submarino
      </h1>

      <p
        class="hero-paragraph mx-auto mt-4 max-w-[700px] text-lg text-white/90"
      >
        Experiencia única de buceo y tecnología innovadora. Aprende a bucear con
        nosotros y explora la belleza del océano.
      </p>
    </section>

    <section
      class="mt-8 flex flex-col items-center justify-center gap-4 sm:flex-row xl:flex-row"
    >
      <div class="hero-btn-primary">
        <Link
          href="/cursos-especiales"
          className="bg-ibwt-secondary w-full px-6 py-3 text-white"
        >
          Explorar Cursos
        </Link>
      </div>

      <div class="hero-btn-secondary">
        <LinkSecondary
          href="#sobre-nosotros"
          className="w-full border-white px-6 py-3"
        >
          Saber más
        </LinkSecondary>
      </div>
    </section>
  </article>
</section>
