---
import { MarqueeDemoVertical } from "@components/magic-ui/ImageMarquee"
---

<section
  class="relative z-10 bg-gradient-to-r from-blue-900/90 to-blue-600/90 py-16"
>
  <article class="scroll-zone container mx-auto overflow-hidden p-5 xl:p-0">
    <section
      class="mb-12 flex flex-col items-center justify-center text-center lg:flex-row"
    >
      <div
        class="relative mb-10 flex w-full flex-col items-center justify-center xl:mb-0 xl:h-[500px]"
      >
        <h2
          class="text-ibwt-secondary scroll-3d-rotate text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl xl:text-7xl"
        >
          Sumergete con nosotros y vive la experiencia
        </h2>
        <p class="scroll-fade-in-up mt-4 max-w-[700px] text-white/90">
          Descubre la magia del mar Caribe colombiano con iBluewave Technology.
          Te invitamos a sumergirte en sus aguas cristalinas, explorar su
          fascinante vida marina y vivir una experiencia única de buceo.
          ¡Acompáñanos y haz de esta aventura un recuerdo inolvidable!
        </p>
      </div>

      <MarqueeDemoVertical client:idle />
    </section>
  </article>
</section>
