---
import { Icon } from "astro-icon/components"

import { siteInfo } from "@constant/site-info"

const { address, phone, email } = siteInfo
---

<div class="space-y-6">
  <div class="flex items-start">
    <Icon
      name="basic-icons/pin"
      class="text-ibwt-secondary mt-1 mr-3 h-5 w-5"
    />

    <div>
      <h4 class="font-medium">Dirección</h4>
      <p class="mt-1 text-gray-600">{address}</p>
    </div>
  </div>

  <div class="flex items-start">
    <Icon
      name="basic-icons/phone"
      class="text-ibwt-secondary mt-1 mr-3 h-5 w-5"
    />

    <div>
      <h4 class="font-medium">Número de télefono</h4>
      <p class="mt-1 text-gray-600">{phone}</p>
    </div>
  </div>

  <div class="flex items-start">
    <Icon
      name="basic-icons/email"
      class="text-ibwt-secondary mt-1 mr-3 h-5 w-5"
    />

    <div>
      <h4 class="font-medium">Correo electrónico</h4>
      <a
        href={`mailto:${email}`}
        class="hover:text-ibwt-primary mt-1 text-gray-600 hover:underline"
        >{email}</a
      >
    </div>
  </div>
</div>
