---
import { Icon } from "astro-icon/components"

import { socialMediaIcon } from "@constant/social-media"
---

<div class="mt-8">
  <h4 class="font-medium mb-4">Síguenos en nuestras redes sociales</h4>

  <div class="flex space-x-4">
    {
      socialMediaIcon.map(({ href, name }) => (
        <a
          href={href}
          target="_blank"
          rel="noopener noreferrer"
          class="h-10 w-10 flex items-center justify-center rounded-full bg-blue-100 text-ibwt-primary hover:bg-blue-200 transition-colors"
        >
          <Icon
            name={name}
            size="20"
          />
        </a>
      ))
    }
  </div>
</div>
