---
interface Props {
  href: string
  target?: HTMLAnchorElement["target"]
  rel?: HTMLAnchorElement["rel"]
  className?: string
}

const { href, target, rel, className } = Astro.props
---

<a
  href={href}
  target={target}
  rel={rel}
  class:list={[
    "rounded-md border bg-transparent text-lg font-medium transition-colors duration-300 ease-in-out hover:bg-white/10",
    className
  ]}
>
  <slot />
</a>
