---
import { Image } from "astro:assets"
import { WordPullUp } from "@components/island/word-pull-up"
import Link from "@components/utilities/Link.astro"

import LogoiBlueWaveTech from "@images/logo.webp"
---

<section class="bg-gradient-to-b from-blue-950 to-black">
  <div class="max-w-screen-2xl mx-auto h-screen flex">
    <div class="mx-auto w-3/6 flex flex-col justify-center h-full">
      <WordPullUp
        words="Sumergete a la aventura maritima con iBluewave Technology"
        client:visible
        className="text-7xl text-ibwt-primary font-bold z-50 mb-10"
      />

      <p class="text-2xl text-gray-200 z-50 mb-6">
        iBlue Wave Technology es un proyecto liderado por Ricardo De La Torre
        Mejía, un buzo certificado por NAUI con amplia experiencia en la
        enseñanza de cursos de buceo en Colombia.
      </p>

      <Link
        href="/cursos-especiales"
        className="px-4 py-3 bg-ibwt-secondary font-bold text-white w-60 text-center"
        >Visita nuestros cursos</Link
      >
    </div>

    <div class="mx-auto w-3/6 h-full flex items-center justify-center">
      <Image
        src={LogoiBlueWaveTech}
        alt="Hero Image"
        width={500}
        height={500}
      />
    </div>
  </div>
</section>
